.container {
    width: 1200px !important;
}

.row {
    position: relative;
}

.buttonBottomBox {
    position: absolute;
    bottom:0;
    right:0;
}

.biggerFont {
    font-size: 100%;
}

.remove-height {
    height: auto;
}

.fixed-width {
    width: 1000px;
}

.search-results {
    padding-left: 20px;
}

/*
div {
    border: 1px solid #ddd;
}
*/
