#result>p {
	color: #555;
	margin: 0 0 5px 0;
	text-align: center;
}
#result ol {
	padding-left: 24px;
	margin: 0;
}
#result ol li p {
	color: #555;
	font-size: 9pt;
	line-height: 14px;
	margin: 0;
}
#result ol li {
	margin-bottom: 2px;
}
#result ol li, #result ol li a {
	color: black;
	font-size: 10pt;
	line-height: 17px;
}
#result #resultHeader {
	margin-left: 24px;
	font-weight: bold;
}
#result #resultHeader span {
	margin-right: 24px;
}

.filter-reset-btn {
	margin-left: 40%;
	font-size: 15px;
}

.active-article {
	/* same as .claro .dijitAccordionInnerContainerSelected */
	background-color: #cfe5fa;
}

#queryComment {
    width: 390px;
    height: 35px;
}

#queryTitle {
    width: 170px;
    font-size: 130%;
}

/* Align filters next to each other */
#div-article-distribution {
	display: inline-block;
	width: 50%;
}

#div-pillar {
	vertical-align: top;
	display: inline-block;
}

/* D3 chart axes */
.axis text {
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#record p {
	float: left;
	max-width: 58ex;
}

#record a {
	float: left;
	margin-left: 1em;
}
