html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

#borderContainer {
    width: 100%;
    height: 100%;
}

#top {
    padding: 2px;
    height: 32px;
}

#top h1 {
    float: left;
    margin: 11px;
    font-size: 24pt;
    width: 195px;
}
#top ul {
    margin: 14px 0;
}
#top ul li {
    float: left;
    width: 80px;
    list-style: none;
    background-color: #99CCFF;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-size: 11pt;
}
#top ul li a {
    color: white;
    text-decoration: none;
}
#top ul li a:hover {
    text-decoration: underline;
}
#top #logos {
    float: right;
}

#sparksDialog .dijitTooltipContainer {
    background-color: #CFE5FA;
}

#sparksCloudPane {
    border: 1px solid #B5BCC7;
    background-color: white;
    margin-top: -12px;
}

#result>p {
	color: #555;
	margin: 0 0 5px 0;
	text-align: center;
}
#result ol {
	padding-left: 24px;
	margin: 0;
}
#result ol li p {
	color: #555;
	font-size: 9pt;
	line-height: 14px;
	margin: 0;
}
#result ol li {
	margin-bottom: 2px;
}
#result ol li, #result ol li a {
	color: black;
	font-size: 10pt;
	line-height: 17px;
}
#result #resultHeader {
	margin-left: 24px;
	font-weight: bold;
}
#result #resultHeader span {
	margin-right: 24px;
}

.filter-reset-btn {
	margin-left: 40%;
	font-size: 15px;
}

.active-article {
	/* same as .claro .dijitAccordionInnerContainerSelected */
	background-color: #cfe5fa;
}

#queryComment {
    width: 390px;
    height: 35px;
}

#queryTitle {
    width: 170px;
    font-size: 130%;
}

/* Timeline title and advertisement warning */
#timeline-title {
    color: grey;
    text-align: center;
}

#timeline-advert-warning {
    color: red;
    text-align: center;
    display: none;
}

/* Align filters next to each other */
#div-article-distribution {
	display: inline-block;
	width: 50%;
}

#div-pillar {
	vertical-align: top;
	display: inline-block;
}

/* D3 chart axes */
.axis text {
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#record p {
	float: left;
	max-width: 58ex;
}

/* Heatmap */
#cal-heatmap,
#cal-heatmap-buttons {
    padding-top: 10px;
    margin: 0 auto;
    width: 80%;
}

/* About page */
.about-justify-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

/* Metadata pie charts */
#metadata .pie-chart {
    display: inline-table;
}

#metadata .pie-chart svg {
    height: 400px;
    width: 525px;
}

#metadata #chart_newspapers svg {
    width: 1050px;
    height: 400px;
}

/* Bootstrap-like alert boxes */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
