*.pyc
*.log
*.old
*~
texcavator/static/js/dojo-*
texcavator/settings_local.py
celeryev.pid
.exvim.*
*.exvim

*.tar.gz

Thumbs.db

# IDE stuff
.*.sw[op]
.idea

# Newspaper mapping
newspapers.txt

# DAWGs
*.dawg
