*.pyc
*.log
*.old
*~
celeryev.pid
.exvim.*
*.exvim
*.tar.gz
Thumbs.db

# ShiCo
texcavator/static/js/ShiCo

# Local settings
texcavator/settings_local.py

# IDE stuff
.*.sw[op]
.idea

# Newspaper mapping
newspapers.txt

# DAWGs
*.dawg
