<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>500.html</title>
  </head>

  <body>
    <h2>Texcavator</h2>
    <img src="{{ STATIC_URL }}image/logos/UniversiteitUtrecht.gif">
    <h3>500 - Internal server error</h3>
    <p>Please contact the developers via e-mail or file a bug on <a href="https://github.com/UUDigitalHumanitieslab/texcavator/">GitHub</a>.</p>
  </body>
</html>
