{% extends "base.html" %}

{% block middle %}
	<div data-dojo-type="dijit.layout.AccordionContainer" data-dojo-props="splitter:true, region:'leading'" style="width: 438px;" id="leftAccordion">
		<div id="searchPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Search results'">
            <a name="search"></a>
		    <input type="hidden" name="startRecord" id="startRecord" value="1" />
			<div id="search-result">
				Search for newspaper articles at the KB.
			</div>
		</div>

		<div id="saveQueryPane" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Save current query'">
			<p>
                You can save your current query for additional analysis and later reference in this panel.
                Give it a proper title and (optionally) a description.
            </p>
			<label for="queryTitle">Title: <br/>
                <input id="queryTitle" name="queryTitle" type="text" />
            </label><br /><br />
			<label for="queryComment">Description (optional):
                <textarea id="queryComment" name="queryComment"></textarea>
            </label><br />
			<button data-dojo-type="dijit.form.Button" data-dojo-props="onClick: queryToLexicon, iconClass: 'dijitIconSave'">
				Save query
			</button>
        </div>

		<div id="lexicon" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Your saved queries'">
			<div id="lexiconItems">
			</div>
            <br/><br/>
			<button data-dojo-type="dijit.form.Button" data-dojo-props="onClick: createQueryList, iconClass: 'dijitIconUndo'">
				Refresh query list
			</button>
		</div>
	</div>

	<div id="cp-div-center" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="splitter:true, region:'center'">
		<div id="borderContainer" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="gutters:false, liveSplitters:true">
			<div id="articleContainer" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="splitter:true, region:'center', tabPosition: 'top', style:'height: 100%;'">
				<div id="metadata" title="Metadata" dojoType="dijit.layout.ContentPane" selected="true"> <!-- Metadata -->
					<div id="metadata_top" style="color:grey; text-align: center;">Metadata.</div>
					<div id="chart_articletype" style="display: inline-block;"><h1>Article types<button class="filter-reset-btn" data-dojo-type="dijit.form.Button" id="filter-reset-btn-type" onclick="resetAndSubmit(resetArticleTypes, this);">Reset filter</button></h1><svg style="height: 400px; width: 525px;"></svg></div>
					<div id="chart_distribution" style="display: inline-block;"><h1>Distributions<button class="filter-reset-btn" data-dojo-type="dijit.form.Button" id="filter-reset-btn-distrib" onclick="resetAndSubmit(resetDistributions, this);">Reset filter</button></h1><svg style="height: 400px; width: 525px;"></svg></div>
					<div id="chart_pillar" style="display: inline-block;"><h1>Pillars<button class="filter-reset-btn" data-dojo-type="dijit.form.Button" id="filter-reset-btn-pillar" onclick="resetAndSubmit(resetPillars, this);">Reset filter</button></h1><svg style="height: 400px; width: 525px;"></svg></div>
					<div id="chart_newspapers"><h1>Newspapers</h1><svg style="height: 400px; width: 1050px"></svg></div>
				</div>

				<div id="cloudPane" title="Cloud" dojoType="dijit.layout.ContentPane" selected="false"> <!-- Cloud -->
					<div style="color:grey; text-align: center;">Cloud.</div>
				</div>

                {% include "timeline.html" %}

				<div id="record" title="OCR" dojoType="dijit.layout.ContentPane" selected="false">  <!-- OCR -->
					<div style="color:grey; text-align: center;">Select an article.</div>
				</div>

				<div id="shico" title="ShiCo" dojoType="dijit.layout.ContentPane" selected="false" style="overflow-x: hidden; overflow-y: hidden;">  <!-- ShiCo -->
                    <iframe id="shicoframe" frameborder="0" height="100%" width="100%" src="{% url 'shico' %}"></iframe>
				</div>
			</div>
		</div>
	</div>

	{% include "start.html" %}
    {% include "about.html" %}

	<!-- ConfirmDialog, see js/uva/dialogs.js -->
	<script type="text/template" id="confirm-dialog-template">
        <div style="width:300px;">
            <div class="dijitDialogPaneContentArea">
                <div data-dojo-attach-point="contentNode">
                    ${message}
                </div>
            </div>

            <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit.form.Button" data-dojo-attach-point="submitButton" type="submit">
                    OK
                </button>

                <button data-dojo-type="dijit.form.Button" data-dojo-attach-point="cancelButton">
                    Cancel
                </button>
            </div>
        </div>
	</script>
{% endblock middle %}

{% block outside %}
<script type="text/javascript">
// Show versions
dojo.ready(function showDojoVersion() {
    console.log( "Dojo version: " + dojo.version );
});
dojo.ready(function showjQueryVersion() {
    console.log( "jQuery version: " + $.fn.jquery );
});
dojo.ready(function showD3Version() {
    console.log( "D3 version: " + d3.version );
});


// Metadata filter functionality (TODO: move somewhere else?)
function hideResetButtons() {
	$('.filter-reset-btn').hide();
}
dojo.ready(hideResetButtons);

function resetAndSubmit(action, button) {
	action();
	searchSubmit();
	$(button.domNode).hide();
}


// Set global javascript variables from django template variables
dojo.ready(function() {
    ES_INDEX = "{{ ES_INDEX }}";
    ES_REVERSE_MAPPING = {{ ES_REVERSE_MAPPING|safe }};
	QUERY_DATA_DOWNLOAD = "{{ QUERY_DATA_DOWNLOAD_ALLOW }}" == "True";
	WORDCLOUD_MIN_WORDS = {{ WORDCLOUD_MIN_WORDS }};
	WORDCLOUD_MAX_WORDS = {{ WORDCLOUD_MAX_WORDS }};
});

// Create the login window, the toolbar and the config on load
dojo.ready( function() { createLogin( "{{ PROJECT_NAME }}" ) } );   // login.js
dojo.ready( showStart );                                            // toolbar.js
dojo.ready( createToolbar );                                        // toolbar.js
dojo.ready( createConfig );                                         // config.js

// Store the date limits
dojo.ready( function() { storeDateLimits( "{{ PROJECT_MIN_DATE }}", "{{ PROJECT_MAX_DATE }}" ); } );    // toolbar.js


// HTML search result in Search panel of accordion (TODO: move this and everything below somewhere else?)
function searchSubmit(newStartRecord)
{
    // Select the searchPane
	accordionSelectChild( "searchPane" );

	// Set the new start record, if set
	newStartRecord = typeof newStartRecord !== 'undefined' ? newStartRecord : 1;
	dojo.byId('startRecord').value = newStartRecord;

    var query = dojo.byId( "query" ).value.trim();
	if (query === "")
	{
		console.log( "searchSubmit(): empty query: nothing to do." );
		return;
	}

    // toolbar.js
	if (!validateDates()) {
		console.log('searchSubmit(): invalid date range.');
		return;
	}
	
	// sanitize_query.js
	if (!validateQuery(query)) {
		console.log('searchSubmit(): invalid query.');
		return;
	}

	console.log( "Starting search at record " + newStartRecord );
	dojo.place( new dijit.ProgressBar( { indeterminate: true } ).domNode, dojo.byId( "search-result" ), "only" );

	var params = getSearchParameters();        // get user-changeable parameters from config
	params.query = query;
	params.startRecord = newStartRecord;

	dojo.xhrGet({
		url: "services/search",
		content: params,                              // key:value pairs
		handleAs: "json",                             // data returned from the server
		load: function( data ) {
			if( data.status === "error" ){
				dojo.byId( "search-result" ).innerHTML = "";
				console.error( data.msg );
				var title = "Query invalid";
				var buttons = { "OK": true };
				genDialog( title, data.msg, buttons );
				return;
			} else {
				dojo.byId( "search-result" ).innerHTML = data.html; // put html text in panel
				metadataGraphics( itemFromCurrentQuery() );         // Visualise meta
			}
		},
		error: function( err ) {
			console.error( err );  // display the error
			var title = "An error occurred";
			var buttons = { "OK": true };
			genDialog( title, err.message, buttons );
			dojo.byId( "search-result" ).innerHTML = '<div>' + title + '.</div>';
		}
	});
}


/**
 * Starts a search (called from the ShiCo iframe)
 * - Sets the date filters to the first and last day of the given year
 * - Sets the given keyword on the query input element
 * - Starts the search
 */
function startSearch(keyword, year)
{
	setDateFilters(new Date(year, 0, 1), new Date(year, 11, 31));
    $('#query').val(keyword);
    searchSubmit();
}


function searchReset() {
    dijit.byId("query").set("value", "");
    storeDateLimits( "{{ PROJECT_MIN_DATE }}", "{{ PROJECT_MAX_DATE }}" );
}


function researchSubmit( item )
{
	console.log( "researchSubmit()" );
	dojo.place( new dijit.ProgressBar( { indeterminate: true } ).domNode, dojo.byId( "search-result" ), "only" );

	setQueryMetadata(item);

	searchSubmit();

} // researchSubmit()

function setQueryMetadata(item) {
	var query = item.query;
	console.log( "query: " + query );
	dojo.byId( "query" ).value = query;        // display query in Search textBox

	// set query meta data
	// set query title and comment
	$('#queryTitle').data('activeItem', item);

	dojo.byId("queryTitle").value = item.title;
	dojo.byId("queryComment").value = item.comment;

	// Daterange
	beginDate = stringToDate(item.dates[0].lower);
	endDate = stringToDate(item.dates[0].upper);
	console.log("Date range: " + beginDate + " - " + endDate);

	dijit.byId( "begindate" ).set( "value", beginDate );
	dijit.byId( "enddate"   ).set( "value", endDate );

	// Set the second search date
	if (item.dates[1]) {
		if (beginDate2 == undefined) {
			toggleSecondDateFilter();
		}

		beginDate2 = stringToDate(item.dates[1].lower);
		endDate2 = stringToDate(item.dates[1].upper);
		console.log("Date range 2: " + beginDate2 + " - " + endDate2);

		dijit.byId( "begindate-2" ).set( "value", beginDate2 );
		dijit.byId( "enddate-2"   ).set( "value", endDate2 );
	}
	// Or set it to null
	else if (beginDate2 !== undefined) {
		toggleSecondDateFilter();
	}
	
	require(["dojo/_base/array"], function(arrayUtil) {
		// Distributions
		var excl_dist = item.exclude_distributions;
		console.log("Exclude distributions: "+excl_dist);

		var val_sd_national = true;
		var val_sd_regional = true;
		var val_sd_antilles = true;
		var val_sd_surinam = true;
		var val_sd_indonesia = true;

		if(arrayUtil.indexOf(excl_dist, "sd_national") != -1){
			val_sd_national = false;
		}

		if(dijit.byId("cb-distrib-national-nl")){
			dijit.byId("cb-distrib-national-nl").set("checked", val_sd_national);
		}
		config["search"]["distrib"]["national"] = val_sd_national;

		if(arrayUtil.indexOf(excl_dist, "sd_regional") != -1){
			val_sd_regional = false;
		}

		if(dijit.byId("cb-distrib-regional")){
			dijit.byId("cb-distrib-regional").set("checked", val_sd_regional);
		}
		config["search"]["distrib"]["regional"] = val_sd_regional;

		if(arrayUtil.indexOf(excl_dist, "sd_antilles") != -1){
			val_sd_antilles = false;
		}

		if(dijit.byId("cb-distrib-antilles")){
			dijit.byId("cb-distrib-antilles").set("checked", val_sd_antilles);
		}
		config["search"]["distrib"]["antilles"] = val_sd_antilles;

		if(arrayUtil.indexOf(excl_dist, "sd_surinam") != -1){
			val_sd_surinam = false;
		}

		if(dijit.byId("cb-distrib-surinam")){
			dijit.byId("cb-distrib-surinam").set("checked", val_sd_surinam);
		}
		config["search"]["distrib"]["surinam"] = val_sd_surinam;

		if(arrayUtil.indexOf(excl_dist, "sd_indonesia") != -1){
			val_sd_indonesia = false;
		}

		if(dijit.byId("cb-distrib-indonesia")){
			dijit.byId("cb-distrib-indonesia").set("checked", val_sd_indonesia);
		}
		config["search"]["distrib"]["indonesia"] = val_sd_indonesia;

		// article types
		var excl_art_types = item.exclude_article_types;
		console.log("Exclude article types: "+excl_art_types);

		var val_st_article = true;
		var val_st_advert = true;
		var val_st_illust = true;
		var val_st_family = true;

		if(arrayUtil.indexOf(excl_art_types, "st_article") != -1){
			val_st_article = false;
		}

		if(dijit.byId("cb-type-article")){
			dijit.byId("cb-type-article").set("checked", val_st_article);
		}
		config["search"]["type"]["article"] = val_st_article;

		if(arrayUtil.indexOf(excl_art_types, "st_advert") != -1){
			val_st_advert = false;
		}

		if(dijit.byId("cb-type-advert")){
			dijit.byId("cb-type-advert").set("checked", val_st_advert);
		}
		config["search"]["type"]["advert"] = val_st_advert;

		if(arrayUtil.indexOf(excl_art_types, "st_illust") != -1){
			val_st_illust = false;
		}

		if(dijit.byId("cb-type-illust")){
			dijit.byId("cb-type-illust").set("checked", val_st_illust);
		}
		config["search"]["type"]["illust"] = val_st_illust;

		if(arrayUtil.indexOf(excl_art_types, "st_family") != -1){
			val_st_family = false;
		}

		if(dijit.byId("cb-type-family")){
			dijit.byId("cb-type-family").set("checked", val_st_family);
		}
		config["search"]["type"]["family"] = val_st_family;
	});

	// Set pillars as selected
	getToolbarConfig();     // ensure checkboxes exist
	var selected_pillars = item.selected_pillars;
	$('.pillar input').each(function(i) {
		var checked = selected_pillars.indexOf(parseInt($(this).val())) != -1;
		dijit.byId($(this).attr('id')).set("checked", checked);
	});

	console.log(getSearchParameters());
}

function nextResults( amount )
{
	if( dojo.byId( "query" ).value == "" ) { return; }        // nothing to do
	var oldStartRecord = parseInt( dojo.byId( 'startRecord' ).value );
	var newStartRecord = oldStartRecord + amount;
	if( newStartRecord < 1 ) { newStartRecord = 1; }

	searchSubmit(newStartRecord);                // HTML search result in Search panel of accordion
}
</script>

<script type="text/javascript">
	dojo.require( "dojo.domReady!" );
	dojo.require( "dojo.fx" );
	dojo.require( "dojo.html" );

	dojo.require( "dijit.Dialog" );
	dojo.require( "dijit.Menu" );
	dojo.require( "dijit.ProgressBar" );
	dojo.require( "dijit.form.TextBox" );
	dojo.require( "dijit.form.Button" );
	dojo.require( "dijit.form.ToggleButton" );
	dojo.require( "dijit.form.HorizontalRule" );
	dojo.require( "dijit.form.HorizontalRuleLabels" );

	dojo.require( "dojox.html.entities" );
	dojo.require( "dojox.widget.Standby" );
	dojo.require( "dojox.xml.parser" );
</script>


<script type="text/javascript">
	var retrieveRecord = function( record_id )
	{
		console.log("retrieveRecord: " + record_id);

		var ocr_pane = "record";
		var cloud_pane = "cloudPane";

		// Select OCR tab
		dijit.byId("articleContainer").selectChild(dijit.byId(ocr_pane));
		
		// Cause the selected article to be highlighted
		$('#search-result ol li').removeClass('active-article');
		// Using the [id="value"] construct because jQuery will choke on the
		// colons in the id otherwise.
		$('[id="' + record_id + '"]').addClass('active-article');
		
		dojo.place( new dijit.ProgressBar( { indeterminate: true } ).domNode, dojo.byId( ocr_pane ), "only" );
		dojo.place( new dijit.ProgressBar( { indeterminate: true } ).domNode, dojo.byId( cloud_pane ), "only" );

		dojo.xhrGet({
			url: "services/retrieve/" + record_id,
			failOk: false,            // true: No dojo console error message
			handleAs: "json",
			load: function( resp )
			{
				dojo.empty( dojo.byId( ocr_pane ) );            // remove ProgressBar
				dojo.empty( dojo.byId( cloud_pane ) );          // remove ProgressBar

				if( resp.status === "SUCCESS" )
				{
					processRecord(record_id, resp.article_dc_title, resp.text_content);
				}
				else
				{
					console.error( resp.msg );
					var title = "Request failed";
					var buttons = { "OK": true };
					genDialog( title, resp.msg, buttons );
					return;
				}
			},
			error: function( err ) { console.error( err ); }
		});
	}

	// Process a record: write the OCR, retrieve the scan and create the single article cloud
	var processRecord = function(record_id, article_title, ocr_text)
	{
		console.log("processRecord: " + record_id);
		writeTextview(article_title, ocr_text);         // update article in Text tab
		scanImages(record_id);                          // scan_images.js : scan[s] + View at KB tab
		retrieveRecordCloudData(record_id);             // create word cloud
	}

	// Creates a single article cloud
	var retrieveRecordCloudData = function( record_id )
	{
		console.log( "retrieveRecordCloudData: " + record_id );

		// Cancel any existing request for a word cloud
		if (current_task_id !== undefined) {
			cancel_celery_task(current_task_id);
		}

		// Collect the parameters
		var params = { "record_id": record_id };
		params = getCloudParameters( params );

		// Create a request for a word cloud
		dojo.xhrGet({
			url: "services/cloud",
			content: params,
			handleAs: "json",
			load: function(response)
			{
				if( response.status != "ok" )
				{
					console.warn( "retrieveRecordCloudData: " + response.error );
					genDialog( "Cloud data request failed", response.error, { "OK": true } );
				}
				else
				{
				    console.log( "Creating cloud" );
					createCloud( "article", response, "cloudPane", "borderContainer" );
				}
			},
			error: function(error) {
				console.error(error);
				return error;
			}
		});
	}

	var createCloud = function( cloud_src, cloud_data, target, container )
	{
		console.log( "createCloud: " + cloud_src + " in " + target + " of " + container );

		if ( cloud_src != "burst" ) {
            var contentBox = dojo.contentBox( target );
            var rheight = contentBox[ "h" ] -4;

            // Animate the cloud coming into view
            var animation = dojo.animateProperty({
                node: target,
                properties: { height: {end: rheight, units: "px"} }
            });

            // Update borderContainer on every step, as changing height doesn't automatically do so.
            dojo.connect( animation, "onAnimate", function() { dijit.byId( container ).layout(); });
            animation.play();
		}

		placeCloudInTarget( cloud_src, cloud_data, target );

        // Add download button
        var cloudDownload = new dijit.form.Button({
            label: "Show cloud data",
		    style: "float: right;",
            onClick: showCloudDlg,
        });
        $("#statusline").after(cloudDownload.domNode);

        // Add button to switch between stemmed and non-stemmed cloud
        var useStems = getConfig().cloud.stems;
        var switchStem = new dijit.form.Button({
            label: "Switch to " + (useStems ? "non-stemmed" : "stemmed") + " cloud",
		    style: "float: right;",
            onClick: function() {
                getConfig().cloud.stems = !useStems;
                refreshCloud(cloud_src);
            },
        });
        $("#statusline").after(switchStem.domNode);

        // Add button to switch between absolute and normalized (tf-idf) frequencies
        if (!useStems)
        {
            var useIdf = getConfig().cloud.idf;
            var switchIdf = new dijit.form.Button({
                label: "Switch to " + (useIdf ? "absolute" : "normalized") + " frequencies",
                style: "float: right;",
                onClick: function() {
                    getConfig().cloud.idf = !useIdf;
                    refreshCloud(cloud_src);
                },
            });
            $("#statusline").after(switchIdf.domNode);
        }
	}

	// Reloads the current cloud with other (possibly) different parameter settings.
	function refreshCloud(cloud_src)
	{
        switch (cloud_src) {
            case "article":
                retrieveRecordCloudData($(".active-article").prop('id'));
                break;
            case "normal":
                onClickExecuteCloud(retrieveLexiconID());
                break;
            case "burst":
                burstCloud();
                break;
            default:
                genDialog("Error while generating cloud", "Unknown method of cloud generation", { "OK": true });
        }
    }
</script>

<script type="text/javascript">
// button Uitvoeren: metadata graphics + query word cloud
function onClickExecute(item)
{
	queryID = item.pk;
	query = item.query;

	console.log( "onClickExecute() queryID: " + queryID + " : " + query );
	console.log(item);

	storeLexiconID( queryID );            // query.js

	setQueryMetadata(item);

	// Cloud
	var config = getConfig();
	var params = {
		queryID    : queryID,
		dateRange  : getDateRangeString()
	}
	params = getCloudParameters( params );

//	console.log( params );
	dojo.xhrGet({
		url: "services/doc_count/",
		handleAs: "json",
		content: params,
		load: function( data )
		{
			if( data.status !== "ok" )
			{
				var title = "Request failed";
				var buttons = { "OK": true };
				genDialog( title, data.msg, buttons );
				return;
			}
			else
			{
				onClickExecuteCloud( queryID );
			} 
		}
	});
} // onClickExecute


function onClickExecuteCloud( queryID )
{
	console.log("onClickExecuteCloud() queryID: " + queryID);

	// Cancel any existing request for a word cloud
	if (current_task_id !== undefined) {
		cancel_celery_task(current_task_id);
	}

	// Select the cloud tab
	dijit.byId("articleContainer").selectChild(dijit.byId("cloudPane"));

	// Create a progress bar and cancel button
	dojo.byId("cloudPane").innerHTML = '';
	var pBar = new dijit.ProgressBar({indeterminate: true});
	dojo.place(pBar.domNode, dojo.byId("cloudPane"), "first");
	dojo.place('<div id="wordcloud_progress">Progress: 0 of ?</div><div id="cancel_wordcloud"></div>', pBar.domNode, "after");

	// Clear the canvas
	canvas = dojo.byId("cloudCanvas");
	if (canvas && canvas.getContext)
	{
		var context = canvas.getContext( '2d' );        // get the 2d context
		if( context ) { context.clearRect ( 0, 0, canvas.width, canvas.height ); }
	}

	// Set the cloud parameters
	var params = {
		queryID: queryID
	};
	params = getCloudParameters(params);

	// Create a request for a word cloud, and then start polling for the cloud
	dojo.xhrGet({
		url: "services/cloud",
		content: params, 
		failOk: false,            // true: No dojo console error message
		handleAs: "json",
	}).then(function( resp ){
			if( typeof( resp ) == "string" )
			{ var json_data = dojo.fromJson( resp ); }
			else
			{ var json_data = resp; }
				var status = json_data.status;

			if( json_data.status != "ok" )
			{
				console.warn( "onClickExecuteCloud: " + json_data.error );
				var title = "Cloud data request failed";
				var buttons = { "OK": true };
				dojo.byId('cloudPane').innerHTML = '<div>' + title + '.</div>';
				genDialog( title, json_data.error, buttons );
				return null;
			}
			else
			{
				console.log("got task_id: "+json_data.task);
				return json_data.task;
			}
		}, function( err ) { console.error( err ); }
	).then(function(task_id) {
		console.log("Start polling!");
		console.log("task_id: " + task_id);
		if(task_id) {
			// check every second
			check_status(task_id);
			// create cancel button
			dojo.byId('cancel_wordcloud').innerHTML = '<button onClick="cancel_celery_task(\''+task_id+'\');">Cancel wordcloud</button>';
		} else {
			console.log('Error: no task_id returned.');
		}
	});
} // onClickExecuteCloud

// Global variables to keep track of the current word cloud task
var current_task_id;
var current_interval_id;

/*
 * Functions for polling celery task
 */
 function handle_error(xhr, textStatus, errorThrown) {
	 clearTimeout(current_interval_id);
	 console.log("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
 }

 function show_status(obj) {
	 console.log(obj);
	 if (obj.error) {
		clearTimeout(current_interval_id);
		console.log(obj.error);
	 }
	 if (obj.status == "WAITING"){
		if ('total' in obj){
			// update progress
			console.log('Update wordcloud progress');
			update_wordcloud_progress(obj.current, obj.total);
		}
		clearTimeout(current_interval_id);
		check_status(current_task_id);
	 }
	 else if (obj.status == "ok"){
		console.log("finished generating cloud");
		clearTimeout(current_interval_id);
		// show the solution
		if (obj.burstcloud){
			createCloud( "burst", obj, "cloud" );
		} else {
			createCloud( "normal", obj, "cloudPane", "borderContainer" );
		}
	 } else {
		clearTimeout(current_interval_id);
		console.log("other status for celery task");
		console.log(obj);
		var title = "Wordcloud failed";
		var buttons = { "OK": true };
		dojo.byId('cloudPane').innerHTML = '<div>' + title + '.</div>';
		genDialog( title, obj.msg, buttons );
	 }
}

function check_status(task_id) {
	current_task_id = task_id;
	current_interval_id = setTimeout(function(){
		console.log('checking status of task_id ' + task_id);
		$.ajax({
			method: "GET",
			url: "/services/task_status/" + task_id,
			success: show_status,
			error: handle_error
		});
	}, 1000);
}
		
function update_wordcloud_progress(current, total){
	if(dojo.byId("wordcloud_progress")){
		dojo.byId( "wordcloud_progress" ).innerHTML = "Progress: "+current+" of "+total;
	}
}

// Cancels the given Celery task id, synchronously
function cancel_celery_task(task_id) {
	console.log('Canceling celery task ' + task_id);

	clearTimeout(current_interval_id);

	$.ajax({
		method: "GET",
		url: "/services/cancel_task/" + task_id,
		async: false,
		success: dojo.byId('cloudPane').innerHTML = '<div>Canceled generating wordcloud.</div>',
		error: handle_error
	});
}

// Return the current query as the kind of 'item' that is used everywhere
function itemFromCurrentQuery() {
	var params = getSearchParameters();
	params.title = dojo.byId("queryTitle").value;
	params.comment = dojo.byId("queryComment").value;
	params.query = dojo.byId("query").value;
	return params;
}

// button Save query
function queryToLexicon()
{
	var dialog = new dijit.Dialog({
		title: "Save query",
		style: "width: 300px",
	});

	var item = itemFromCurrentQuery();

	if( isWhitespaceOrEmpty( item.query ) == true )        // utils.js
	{
		var title = "Save query";
		var buttons = { "OK": true };
		genDialog( title, "Your query is empty", buttons );
		return;
	}
	
	if (!validateQuery(item.query)) return;  // sanitize_query.js
	
	// optionally overwrite an existing query
	var formerItem = $('#queryTitle').data('activeItem');
	if (formerItem && item.title == formerItem.title) {
		var title = 'Overwrite query';
		var message = 'You changed the query but not the title. Do you want to replace the query?';
		var buttons = {'OK': true, 'Cancel': true};
		genDialog(title, message, buttons, function () {
			saveQuery(item, 'query/' + formerItem.pk + '/update');
		});
		$('#queryTitle').focus();
		return;
	}

	// validate CQL -> ES; when valid, stores query
	saveQuery(item, "query/create");     // query.js
} // queryToLexicon

</script>

{% endblock outside %}
