{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="texcavatorApp">
    <head>
        <meta charset="utf-8"> 
        <title>{{ PROJECT_NAME }}</title>

        <link rel="stylesheet" href="{% static 'bootstrap-css-only/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body ng-controller="texcavatorCtrl">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ PROJECT_NAME }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Saved queries and export</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Help</a></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Log out</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

        <div class="container">
            <div class="row">
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
                <div class="col-xs-1">
                    box
                </div>
            </div>

            <!-- search form (with metadata) -->
            <form id="search">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="control-label">Article type</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>article</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">advertisements</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">illustration</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">family message</label>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <label class="control-label">Distributions</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>national</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>regional</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Antilles</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Surinam</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Indonesia</label>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <label class="control-label">Time period</label>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="date-lower">From</label>
                                            <div class="col-xs-8">
                                                <input type="text" class="form-control" id="date-lower" value="01-01-1850">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3" for="date-upper">To</label>
                                            <div class="col-xs-8">
                                                <input type="text" class="form-control" id="date-upper" value="31-12-1990">
                                            </div>
                                            <div class="col-xs-12 help-block">Date format: dd-mm-yyyy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <input ng-model="queryStr" type="text" class="form-control" id="queryStr" autofocus>
                            </div>
                        </div>
                        <button ng-click="search()" type="submit" class="btn btn-primary">Search</button>
                        {% verbatim %}
                            <label ng-repeat="dist in distributions">
                                <input type="checkbox" checklist-model="query.distributions" checklist-value="dist.id">{{ dist.name }}
                            </label>
                        {% endverbatim %}
                    </form>
                    <ol ng-show="searchResults" start="{% verbatim %}{{ startRecord }}{% endverbatim %}">
                        <li ng-repeat="item in searchResults">
                        {% verbatim %}{{ item.fields.article_dc_title[0] }}{% endverbatim %}
                        </li>
                    </ol>
                    <pagination ng-show="searchResults" 
                                total-items="totalSearchResults"
                                ng-model="searchResultsPage"
                                ng-change="pageChanged()"
                                num-pages="numPages"
                                max-size="5"
                                class="pagination-sm"
                                rotate="false"
                                boundary-links="true"
                                items-per-page="20"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>

        <script src="{% static 'angular/angular.js' %}"></script>
        <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
        <script src="{% static 'checklist-model/checklist-model.js' %}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
    </body>
</html>
