{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="texcavatorApp">
    <head>
        <meta charset="utf-8"> 
        <title>{{ PROJECT_NAME }}</title>

        <link rel="stylesheet" href="{% static 'bootstrap-css-only/css/bootstrap.css' %}">
    </head>

    <body ng-controller="texcavatorCtrl">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ PROJECT_NAME }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">Saved queries and export</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Help</a></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Log out</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <input ng-model="queryStr" type="text" class="form-control" id="queryStr" autofocus>
                            </div>
                        </div>
                        <button ng-click="search()" type="submit" class="btn btn-primary">Search</button>
                        {% verbatim %}
                            <label ng-repeat="dist in distributions">
                                <input type="checkbox" checklist-model="query.distributions" checklist-value="dist.id">{{ dist.name }}
                            </label>
                        {% endverbatim %}
                    </form>
                    <ol ng-show="searchResults" start="{% verbatim %}{{ startRecord }}{% endverbatim %}">
                        <li ng-repeat="item in searchResults">
                        {% verbatim %}{{ item.fields.article_dc_title[0] }}{% endverbatim %}
                        </li>
                    </ol>
                    <pagination ng-show="searchResults" 
                                total-items="totalSearchResults"
                                ng-model="searchResultsPage"
                                ng-change="pageChanged()"
                                num-pages="numPages"
                                max-size="5"
                                class="pagination-sm"
                                rotate="false"
                                boundary-links="true"
                                items-per-page="20"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>

        <script src="{% static 'angular/angular.js' %}"></script>
        <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
        <script src="{% static 'checklist-model/checklist-model.js' %}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
    </body>
</html>
