<html>
  <head>
    <title>lexicon</title>
    <meta content="">
    <style></style>
    {% load i18n %}
  </head>

  <body>
    Lexicon id: {{ lexicon_tag }}<br/>
    Lexicon title: {{ lexicon_title }}<br/>
    Metadatas: {{ metadata_count }}<br/>
    Articles: {{ article_count }}<br/>
    Shown: {{ show_count }}<br/>

    {% if lists_data %}
      <table cellspacing="0" border="1">
        <tr>
          <th>#</th>
          <th>{% trans "Meta" %}  </th>
          <th>{% trans "Arts" %}  </th>
          <th>{% trans "Docid" %} </th>
          <th>{% trans "Tags" %}  </th>
        </tr>

        {% for nums, in_meta, in_arts, doc, tags in lists_data %}
          <tr>
            <th>
              {{ nums }}
            </th> 
            <td align="center"> {{ in_meta }} </td>
            <td align="center"> {{ in_arts }} </td>
            <td align="right"> {{ doc }} </td>
            <td align="left"> {{ tags }} </td>
          </tr>
        {% endfor %}

      </table>
    {% endif %}
  </body>
</html>
