<html>
  <head>
    <title>lexicons</title>
    <meta content="">
    <style></style>
    {% load i18n %}
  </head>

  <body>
    {{ message }}

    {% if lists_data %}
      <table cellspacing="0" border="1">
        <tr>
          <th>#</th>
          <th>{% trans "Id"  %}      </th>
          <th>{% trans "Lexicon"  %} </th>
          <th>{% trans "User"  %}    </th>
          <th>{% trans "Group"  %}   </th>
          <th>{% trans "Metadata" %} </th>
          <th>{% trans "Articles" %} </th>
        </tr>

        {% for num, lexicon_id, lexicon_title, lexicon_user, lexicon_group, metadata_count, article_count in lists_data %}
          <tr>
            <th>
              {{ num }}
            </th> 
            <td align="right"> {{ lexicon_id }}     </td>
            <td align="left">  {{ lexicon_title }}  </td>
            <td align="left">  {{ lexicon_user }}   </td>
            <td align="left">  {{ lexicon_group }}  </td>
            <td align="right"> {{ metadata_count }} </td>
            <td align="right"> {{ article_count }}  </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

  </body>
</html>
